body {
    background-color: #D7FCD4;
    display: flex;
    margin: 0;
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
}

/* /////////////// LEFT SIDE ///////////////////// */

#leftHalf {
    height: 100%;
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#menuFlex {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#title {
    font-size: 50px;
    font-weight: bolder;
    font-style: italic;
    color: #D52941;
}

#buttonFlex {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 75%;
}

#miscButtonsFlex {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

button {
    width: 100%;
    height: 100%;
    font-size: 20px;
    padding: 10px 0;
    border: 2px solid black;
    border-radius: .25em;
    font-weight: bold;
}

#blackButton {
    background-color: #393e41;
    color: whitesmoke;
}

#rainbowButton {
    background-color: whitesmoke;
    color: black;
}

#blueButton {
    background-color: whitesmoke;
    color: black;
}

#sliderFlex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sizeHeader {
    margin-bottom: 0;
    font-size: 20px;
    letter-spacing: 0.5px;
}

#howBig {
    margin-top: 2px;
}

/* /////////////// RIGHT SIDE ////////////////////// */
#rightHalf {
    width: 55%;
    height: 100%;
    display: flex;
    align-items: center;
}

#gridContainer {
    border: 3px solid #393E41;
    width: 75%;
    aspect-ratio: 1/1;
    display: grid;
}

.gridCell {
    border: 0.25px solid rgba(0, 0, 0, 0.212);
    background-color: rgba(0, 0, 0, 0);
}



/********** Range Input Styles **********/
/*Range Reset*/
input[type="range"] {
    -webkit-appearance: none;
     appearance: none;
     background: transparent;
     cursor: pointer;
     width: 15rem;
 }
 
 /* Removes default focus */
 input[type="range"]:focus {
   outline: none;
 }
 
 /***** Chrome, Safari, Opera and Edge Chromium styles *****/
 /* slider track */
 input[type="range"]::-webkit-slider-runnable-track {
    background-color: #2a2b2a;
    border-radius: 0.5rem;
    height: 0.5rem;  
 }
 
 /* slider thumb */
 input[type="range"]::-webkit-slider-thumb {
   -webkit-appearance: none; /* Override default look */
    appearance: none;
    margin-top: -12px; /* Centers thumb on the track */
 
    /*custom styles*/
    background-color: #5cd5eb;
    height: 2rem;
    width: 1rem;
    border-radius: 0.4rem;
    outline: 1px solid #3e9dad;
 }
 
 input[type="range"]:focus::-webkit-slider-thumb {   
   border: 0.5px solid #053a5f;
   outline: 1px solid #053a5f;
 }
 
 /******** Firefox styles ********/
 /* slider track */
 input[type="range"]::-moz-range-track {
    background-color: #053a5f;
    border-radius: 0.5rem;
    height: 0.5rem;
 }
 
 /* slider thumb */
 input[type="range"]::-moz-range-thumb {
    border: none; /*Removes extra border that FF applies*/
    border-radius: 0; /*Removes default border-radius that FF applies*/
 
    /*custom styles*/
    background-color: #5cd5eb;
    height: 2rem;
    width: 1rem;
 }
 
 input[type="range"]:focus::-moz-range-thumb {
   border: 1px solid #053a5f;
   outline: 3px solid #053a5f;
   outline-offset: 0.125rem; 
 }